.form {
    border: 1px solid black;
    padding: 30px 15px;
    width: fit-content;
    
}

.formLabel {
    display: block;
    margin-bottom: 5px;
}
.input {
    margin-bottom: 20px;
}

.btn {
    display: block;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    color: #010c0e;
    background-color: #8fe4f5;
    cursor: pointer;
}

.btn:hover {
    background-color: #d7f5fb;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}